<!--全体-->
<main>
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>errors prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>

<!--ユーザーが投稿したbookのリスト-->
    <div class='col-md-8 offset-md-1'>
        <h2>User info</h2>

       <!--https://getbootstrap.jp/docs/4.5/content/tables/#always-responsive-->
       <!--<div class="table-responsive">-->
          <table class='table table-hover table-inverse'>
            <tr>
              <%= attachment_image_tag @user, :profile_image, :fit, 60, 60, fallback: "default-image.jpg"  %>
            </tr>
            <tr>
              <th>name</th>
              <th class="text-break"><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th class="text-break"><%= @user.introduction %></th>
            </tr>
          </table>
        <!--</div>-->

        <!--@user→user-->
        <div class='row'>
          <%= link_to 'Edit User Info', edit_user_path(@user.id) ,class: "btn btn-success" %>
        </div>

        <div class='row'>
          <%= link_to 'Show User&rsquo;s Books'.html_safe, show_userbooks_path(@user.id) ,class: "btn btn-success" %>
        </div>

    </div>

<!--全体-->
    </div>
  </div>
</main>