<!--全体-->
<main>
<div class='container px-5 px-sm-0'>
  <div class='row'>

<!--ユーザーが投稿したbookのリスト-->
<div class='col-md-8 offset-md-1'>
  <h2>Books</h2>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>User</th>
        <th>Book Title</th>
        <th>Autor</th>
        <th>Page</th>
        <th>Chapter</th>
        <th>Section</th>
        <th>Question</th>
        <th>Explanation</th>
        <th>article image</th>
      </tr>
    </thead>

<!--usersコントローラーのshowアクションで定義した@user_booksインスタンスからデータをよびだし -->
<!--booksコントローラーのindexアクションで定義した@booksインスタンスからデータをよびだし -->
    <% @bars.each do |bar| %>
    <tbody>
      <tr>
        <td class="text-break">
          <%= link_to user_path(bar.user_id) do %>
              <%= attachment_image_tag bar.user, :profile_image, :fit, 100, 100, fallback: "default-image.jpg" %>
              <br/>
              <%= bar.user.name %>
          <% end %>
        </td>
        <td class="text-break">
          <%= link_to book_path(bar.book_id) do %>
              <%= attachment_image_tag bar.book, :book_image, :fit, 100, 100, fallback: "default-image.jpg" %>
              <br/>
              <%= bar.book.title %>
          <% end %>
        </td>
        <td class="text-break"><%= bar.book.author %></td>
        <td class="text-break"><%= bar.page %></td>
        <td class="text-break"><%= bar.chapter %></td>
        <td class="text-break"><%= bar.section %></td>
        <td class="text-break"><%= bar.title %></td>
        <td class="text-break"><%= bar.body %></td>
        <td class="text-break">
          <% if bar.article_image.present? %>
            画像あり
          <% else %>
            画像なし
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<!--全体-->
  </div>
</div>
</main>