<!--全体-->
<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>

<!--右部分 -->
<!--ログインしているユーザーが投稿したbook　1冊だけ表示-->
      <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>

        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>User</th>
              <th>Title</th>
              <th>Autor</th>
              <th>ISBN</th>
              <th>Body</th>
              <th>Create date</th>
              <th>Update date</th>
              <th><%= 'Book&rsquo;s Articles Link'.html_safe %></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="text-break">
                <%= link_to user_path(@book.user_id) do %>
                    <%= attachment_image_tag @book.user, :profile_image, :fit, 100, 100, fallback: "default-image.jpg" %>
                    <br/>
                    <%= @book.user.name %>
                <% end %>
              </td>
              <td class="text-break">
                <%= link_to book_path(@book) do %>
                    <%= attachment_image_tag @book, :book_image, :fit, 100, 100, fallback: "default-image.jpg" %>
                    <br/>
                    <%= @book.title %>
                <% end %>
              </td>
              <td class="text-break"><%= @book.author %></td>
              <td class="text-break"><%= @book.isbn %></td>
              <td class="text-break"><%= @book.body %></td>
              <td class="text-break"><%= @book.created_at %></td>
              <td class="text-break"><%= @book.updated_at %></td>
              <td>
                <%= link_to 'Book&rsquo;s Articles Link'.html_safe,
                book_book_articles_path(@book.id), class: "btn btn-success"%>
              </td>

              <% if current_user.present? %>
              <% if @user.id == current_user.id %>
                <!--rails routesのPrefixを使う。アンダーバーの前。-->
                <!--classの後は、「：」。参照サイト：https://railsdoc.com/page/link_to-->
                <td><%= link_to 'Edit', edit_book_path(@book.id),class: "btn btn-success"%></td>
                <td><%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"%></td>
              <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>


<!--全体-->
    </div>
  </div>
</main>